Package: smman
Version: 1.0.0
Architecture: amd64
Maintainer: Guillaume Friloux <guillaume.friloux@asp64.com>
Installed-Size: 56
Depends: libc6 (>= 2.7), libcurl3-gnutls (>= 7.16.2-1), libecore-file1, libecore1, libeina1 (>= 1.0.0~beta)
Section: main
Priority: optional
Description: SMMan is a logstash replacement in C. it only supports
 files as input and elasticsearch as output.
